/* PostCard.module.css */
.profile-detail-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
